<!DOCTYPE html>
<html>
    <meta http-equiv="refresh" content="60">
    <body>
        <% for (let i=0; i<=errors.length; i++) { %>
            <li><%= errors[i] %></li>
        <% } %>
    </body>
</html>